@inherits LayoutComponentBase
<div class="sidebar">
<NavMenu />
</div>

<div class="main">

    <div class="main">
        <div class="content px-4">
            <h1>CHAT CUBE</h1>
            <br />
            @Body

        </div>
    </div>
</div>
